@font-face {
  font-family: 'circula-medium';
  src: url(fonts/circula-medium.otf);
} 

@font-face {
  font-family: 'Monkier-Regular';
  src: url(fonts/Moniker-Regular.ttf) format('truetype');
} 

body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content:space-between  ;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
  }
  
  .logo img {
    width: 20vw;
    max-width: 230px;
    min-width: 125px;
  }
  
  .button-container {
   /* margin-left: 60vw; */
    text-align: right;
  }

  .button {
    border-radius: 5px;
    float: right;
    text-align: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    background-color: #333;
  }

  button {
    text-align: center;
    padding: 10px 20px;
    background-color: #a10808;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
  
  }
  
  .section {
    padding: 50px 0;
  }
  
  .container {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #services {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #182a56;
    color:azure;
    text-align: center;
  }

  .boxes {
    display: flex;
  }



  #form {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
  }

  #about {
    padding:60px;
    padding-left: 10px;
    padding-right: 10px;
   /* margin-top: 20px;
    margin-bottom:40px; 
    */
    text-align: center;
    color: #182a56;
    background-color: white;
  }

#about h1 {
  font-family: 'circula-medium';
  text-decoration: 'underline'
}


  body {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 90vw;
  }

  #ethos {
    display:flex;
    margin: 60px; 
  }

  #ethos div {
    align-items: center;
    margin: auto;
    padding: 20px;
    flex: 1;
    width: calc(50vw-60px);
  }

  .testimonials-container {
    
    height:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .testimonial {
    padding-top: 30px;
    padding-bottom: 30px;
    color: azure;
    background-color:#1077b8;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .testimonial.active {
    opacity: 1;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 220px;
  }

  .navigation button {
    margin-top: 200px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }



  h1, h2, h3{
    padding-bottom: 10px;
    font-family: 'Monkier-Regular';
    
  }

  h1 {
    font-size:40px;
  }

  h2 {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 26px;
  }

  .ls {
    justify-content:space-evenly;
    align-items: center;
  }

  p {
    line-height: 1.5;
    font-family: 'Monkier-Regular';
    font-size: 18px;
  }
  
  #services p {
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .social-media {
    margin-bottom: 20px;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icon img {
    height: 30px;
  }
  
  .service-box {
    flex: 1;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

@media(max-width: 700px){

  body {
    margin:auto;
  }
  .boxes {
    display: block;
  }

  #ethos {
    display: block;
    margin: 0;
  }

  .navigation {
    margin-top: 250px;
  }
} 
  .navigation button {
    margin-top: 220px;
  }

@media(max-width: 450px) {
  .navigation{
    margin-top: 270px;
  }
    .navigation button {
    margin-top: 240px;
    }
}
